/* Général */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ID important */
#pied {
  position: fixed;
  background-color: gray;
  color: black;
  text-align: center;
  bottom: 0%;
  width: 100%;
  height: 60px;
  z-index: 10;
}

#map {
  height: 78%;
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

/* Barre de navigation */
nav {
  width: 100%;
  background-color: #953C40;
  position: fixed;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

ul li {
  position: relative;
  margin: 0 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a:hover {
  background-color: #111;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Positionnement */

.floatleft {
  float: left;
}

.floatright{
  float: right;
}

.floatcenter{
  float: center;
}

.legend{
  display: flex;
  text-align: center;
  justify-content: center;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.middle-left {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-middle {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex{
  display: flex;
}

/* Section */

.sectionCarte {
  width: 100%;
  height: 1000px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 50px;
  z-index: -3;
}

.section {
  width: 100%;
  height: 1000px;
  text-align: center;
  position: relative;
}


/* Couleur */

.blanc {
  background-color: white;
}

.bleuspa {
  background-color: #113766;
}

.jaunespa {
  background-color: #F9BE02;
}

.gris {
  background-color: #DDDDDD;
}


/* Image */
.image_div {
  padding-top: 60px;
  height: 100%;
  width: 100%;
  position: relative;
}

.logo {
  float: left;
  width: 100px;
  height: 50px;
  margin: 5px;
  position: relative;
  z-index: 99;
}

.icon {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  margin-top: 30px;
}

.small{
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.image-section{
  width: 30%;
  height: 30%;
  bottom: 160px;
}

/* Style de text */
.titre {
  top: 80px;
  font-size: 300%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #111;
  color: antiquewhite;
}

.titresection {
  top: 80px;
  font-size: 300%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #111;
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titrecarte{
  top: 120px;
  width: 80%;
  font-size:larger;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
}

.text{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}